@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700;900&display=swap");
/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (global) ================== */
body {
  direction: rtl;
  text-align: right;
  font-family: "Tajawal", sans-serif;
}

.section {
  padding: 80px 0;
}

ul {
  margin: 0;
  padding: 0;
}

.section__title {
  position: relative;
  display: inline-block;
}

.section__title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  width: 120px;
  height: 5px;
  background-color: #ffc527;
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (header) ================== */
nav.navbar {
  -webkit-box-shadow: 1px 2px 5px #ebebeb;
          box-shadow: 1px 2px 5px #ebebeb;
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (hom) ================== */
.home {
  height: 600px;
  background-image: url(../images/slide-bg-1.jpg);
  background-size: cover;
  padding: 1px;
}

@media (max-width: 768px) {
  .home {
    height: 400px;
  }
}

.home .container .home-item {
  width: 50%;
  margin-right: auto;
  margin-top: 15%;
}

@media (max-width: 768px) {
  .home .container .home-item {
    width: 100%;
  }
}

.home .container .home-item h2 {
  color: #fff;
  font-size: 45px;
}

.home .container .home-item p {
  color: #fff;
  font-size: 20px;
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (about) ================== */
.about .container .about__item p {
  margin: 50px 0;
}

.about .container .about__item button {
  margin-bottom: 15px;
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (news) ================== */
.news .container .row div .news__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .container .row div .news__left img {
  max-width: 200px;
  margin-left: 10px;
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (subscribe) ================== */
.subscribe {
  height: 450px;
  background-image: url(../images/subscribe-our-newsletter-bg.jpg);
  background-size: cover;
  padding: 1px;
  position: relative;
}

.subscribe .item {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

@media (max-width: 768px) {
  .subscribe .item {
    width: 80%;
  }
}

.subscribe .item h2 {
  font-size: 40px;
}

.subscribe .item .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .subscribe .item .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe .item .form input {
  width: 80%;
}

@media (max-width: 768px) {
  .subscribe .item .form input {
    width: 100%;
  }
}

.subscribe .item .form button {
  width: 15%;
}

@media (max-width: 768px) {
  .subscribe .item .form button {
    width: 100%;
  }
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (footer) ================== */
.footer {
  background-color: #071c33;
  color: #fff;
}

.footer .container .row div .item h3 {
  background-color: #fff;
  display: inline-block;
  margin: 0 0 10px;
  padding: 10px 20px;
}

.footer .container .row div .footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.footer .container .row div .footer__left img {
  width: 50px;
  margin-left: 10px;
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (jumbotron) ================== */
.jumbotron .container .row div nav .breadcrumb {
  margin: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jumbotron .container .row div nav .breadcrumb .breadcrumb-item::before {
  float: right;
}

/*
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
================== (blog) ================== */
.blog .container .row div .jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #ffc527;
}

.blog .container .row div .jumbotron .blog-desc {
  width: 55%;
}

.blog .container .row div .jumbotron .blog-desc h4 {
  font-size: 18px;
}

.blog .container .row div .jumbotron .blog-img {
  width: 40%;
}
/*# sourceMappingURL=main.css.map */