/* =========== */

.photos img {
    width: 200px;
    height: 200px;
    border: 5px solid #aaa;
}

.photos img:hover {
    border: 5px solid #080;
    cursor: pointer;
}

.main img {
    width: 840px;
    height: 666px;
    border: 5px solid #aaa;
}