* {
    margin: 0;
    padding: 0;
}

.div_one {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 100vh;
    /* text-align: center; */
    /* font-size: 30px; */
    transition: all 0.5s;
}

#button {
    font-size: 22px;
    width: 300px;
    height: 100px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 11px 6px rgba(0 0 0 / 0.15);
}