/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.div_one {
    color: #fff;
    background-color: rgb(66, 0, 0);


    width: 100%;
    height: 50vh;
    font-size: 40px;


    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

#div_one_111 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

#div_333 {
    height: 40px;
}

#div_one_222 {
    text-align: center;
}

input {
    height: 100%;
    width: 300px;
    border: none;
}

button {
    border: none;
    background-color: #fff;
    height: 100%;
    width: 100px;
}

.div_tow {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* width: 100px; */
    width: 100%;
    font-size: 40px;
}