* {
    box-sizing: border-box;
}

body {
    font-family: "open sans", "sans-serif";
    font-size: 18px;
}

.container {
    text-align: center;
    padding: 20px;
    width: 500px;
}
/* ============================== */

.container form {
    margin: 20px auto;
}
.container form input{
    padding: 15px;
    border: 1px solid #ccc;
    height: 40px;
}
.container form button{
    height: 40px;
    cursor: pointer;
}
.container .slug-result {
    background-color: #eee;
    padding: 15px;
    width: 500px;
    text-align: left;
}
