mixin skillList
    ul
        li php 
        li mysql 
        li lava
        li framework
        li this #{themeName} Theme

//- ============= 017 ===========
mixin featura(featName)
    div(class='feat', style='color: red')=featName