
body {
    background-color: #f3f3f3;
    font-family: monospace;
}

.container {
    width: 900px;
    margin: auto;
    background-color: #fff;
    padding: 15px;
}

h1 {
    font-size: 25px;
}

button {
    background-color: #080;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    width: 200px;
    border-radius: 20px;
    outline: 0;
}

button:hover {
    background-color: #020;
}

li {
    font-size: 24px;
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
}

.active {
    background-color: #000;
    color: #fff;
}