// Colors
$color--101--darkBlue: hsl(233, 26%, 24%);
$color--102--limeGreen: hsl(136, 65%, 51%);
$color--103--brightCyan: hsl(192, 70%, 51%);
$color--104--grayishBlue: hsl(233, 8%, 62%);
$color--105--lightGrayishBlue: hsl(220, 16%, 96%);
$color--106--veryLightGray: hsl(0, 0%, 98%);
$color--107--white: hsl(0, 0%, 100%);



// Colors
// $--101--darkBlue: #2d314d;
// $--102--limeGreen: #31d35c;
// $--103--brightCyan: #2bb7da;
// $--104--grayishBlue: #9698a6;
// $--105--lightGrayishBlue: #f3f4f6;
// $--106--veryLightGray: #fafafa;
// $--107--white: #ffffff;

// Font Sizes
$font--91--sm: 0.875rem; // 14px
$font--92--med: 1.125rem; // 18px
$font--93--lg: 1.25rem; // 20px
$font--94--xlg: 3.25rem; // 52px