//- got all index page content
extends index.pug

block pageTitle
    title About Me
//- ============= 019
append pageInfo
    .appended About

block pageContent
    .about-me
        .container
            p this content from about page